 body {
    background-color: #fffce1;
    position: relative;
}

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('fotos/fondo_limon.png');
    background-repeat: repeat;
    background-size: 160px;
    background-position: 0 0;
    background-blend-mode: multiply;
    opacity: 0.20;
    z-index: -1;
    pointer-events: none;
  }

.contenedor-principal {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.encabezado {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  max-width: 100%;    /* que no exceda el ancho del contenedor */
  height: auto;       /* para mantener la proporción */
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 200px;  /* opcional para limitar la altura máxima */
}

.titulo-principal {
  font-size: 50px;
  font-family: 'Times New Roman', serif;
  font-weight: 900;
  color: #38a169;
}

.subtitulo {
  font-size: 40px;
  font-family: 'Times New Roman', serif;
  font-weight: 900;
  color: #2d3748;
  margin-top: 16px;
}

.galeria-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

@media (min-width: 640px) {
  .galeria-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .galeria-productos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacto {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.boton-whatsapp {
  background-color: #53a77a;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.boton-whatsapp:hover {
  transform: translateY(-8px);
  background-color: #1c6e45;
}

.pie-pagina {
  text-align: center;
  margin-top: 48px;
  font-size: 14px;
  color: #718096;
}

.producto {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.producto:hover {
  transform: translateY(-16px);
}

.imagen-producto {
  width: 90%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  border: 6px solid rgba(253, 254, 165, 0.925);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 auto;
}

.descripcion {
  margin-top: 12px;
  font-weight: 500;
  text-align: center;
  color: #1a202c;
  font-size: 16px;
}


.producto a {
  text-decoration: none;
  color: inherit; /* Mantiene el color original del texto */
}
